body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.bold {
  font-weight: bold;
}

button, input, select {
  height: 3rem;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

form div {
  margin: 1em;
  display: inline-block;
}
